.titluCarte {
	
	float:left;
	font-family: 'Reem Kufi', sans-serif;
}
.titluCarte h1 {
		font-size: 2em;
		color: #333;
}
.autor {

	margin-right: 7%;
	float: left;
	clear:both;
	font-size: 1em;
	font-family: 'Reem Kufi', sans-serif;
	padding-bottom: 2%;
}
.descriere {

	float:none;
	clear:both;
}
.nota {
	float:right;
	
}
.starDetalii {
	float:right;
	margin-right: 5%;
}
.recenzie {
	clear:both;
	float:left;
	margin-top:3%;
	margin-bottom: 3%;
}

#container {
	margin: 5%;
	font-size:0.6em	;
	text-align: left;

}
