.image-list {
	clear:left;
	float:left;
	margin-right:2%;
}

.caracteristici {
	clear:right;
	float:left;
	margin-left: 3%;
	text-align: left;
	min-width: 20%;

}
.book {

	position: :absolute;
	padding-bottom: 10%;
	margin-left: 25%;
	font-size: 60%;
}

.head {
	
	margin-bottom: 5%;

}
.star {
	margin-left: 2%;
}