/*.listaTitluCarte {
	float: left;
	clear: both;
	position:relative;
	font-size: 30px;
}

.listaAutor {
	float: right;
	position :relative;
	font-size: 30px;
	
}

.listaNota {
	float: right;
	position : relative;
	clear: both;
	font-size: 20px;
}*/

th {
	text-align: left;
	
}
table {
	border: 5px dashed black;
}