table {
	width: 100%;
	font-size: 35px;
	text-align: left;
}
td {
	min-width: 33%;
}
tr {
	border: 1px solid white;
}

th {
	text-align: center;
	font-size: 50px;
	text-shadow: 2px 2px black;
	color: #9D98AD;
}
#grad {
	 background: -moz-linear-gradient(bottom right, #5B5277, #E3E3E5);
}